/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

img{
    width: 320px;
    height: 320px;
}

h1{
    margin: 0 40px;
    color: aliceblue;
    text-align: center;
}


h2{
    margin-top: 40px;
    text-align: left;
    color: aliceblue;
}

.light{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--x) var(--y), transparent 10%, rgba(0,0,0,0.95)50%);

}

.container{
    width: 90%;
    min-height: 500px;
    border: 1px solid #e6dfdf;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header{
    text-align: center;
}

.header-page{
    background-color: black;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.header-page h1{
    font-size: 40px;
    
}

.header-menu li{
    margin: 0 10px;
}

.header-menu ul{
    list-style: none;
    display: flex;
}

.header-menu a {
    color: #e6dfdf;
    text-decoration: none;
    font-size: 20px;
}

.card{
    width: 90%;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.card-text{
    font-size:x-large;
    color: aliceblue;
    text-align: center;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.img-size{
    width: 160px;
    height: 160px;
}

.formulario{
    width: 70%;
    padding: 15px;
}

.formfield{
    padding-left: 50px;
    width: 90%;
    height: 35px;
    font-size: large;
}

#amnesia{
    width: 500px;
    height: 320px;
}
#metalslug{
    margin-top: 50px;
    width: 500px;
    height: 150px;
    border: solid #e6dfdf;
}
#hollow{
    margin-top: 50px;
    width: 500px;
    height: 320px;
}

#supernatural{
    margin-top: 20px;
    width: 500px;
    height: 320px;
}
#constantine{
    margin-top: 20px;
    width: 500px;
    height: 320px;
}

#assets{
    margin-top: 20px;
    width: 500px;
    height: 320px;
}

figcaption{
    color: #e6dfdf;
    margin-bottom: 30px;
}

#card-form{
    margin-top: 200px;
}

#card-release{
    margin-top: 100px;
}

#mensagem{
    padding-left: 15px;
    width: 90%;
    height: 110px;
    font-size: large;
    border-radius: 7px;
    resize: none;
}

#nome{
    background-image: url(../Images/character.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 7px;
}
#email{
    background-image: url(../Images/envelope.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 7px;
}
#celular{
    background-image: url(../Images/smartphone.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 7px;
}

#enviar{
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid aliceblue;
    cursor: pointer;
}

#enviar:hover{
    background-color: aliceblue;
    color: black;
    transition: .5s;
}

.footer-page{
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title{
    font-size: medium;
}











/* div {
    width: 100%;
    height: 200px;
    min-height: 450px;
    padding: 20px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid #990505;
    text-align: center;
    } */

/* .center{
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
} */